body {
    margin: 0px;
}

#formdiv {
    float: left;
    margin-right: 20px;
    margin-left: 8px;
}

.axesTable td {
    padding: 0px;
    line-height: 0px;
}

.axesTable {
    border-collapse: collapse;
}

#output {
    float: left;
}

.paramRow.sep {
    font-weight: bold;
}

@media screen {
    
    #output {
/*	float: left; */
	border: 1px solid;
    }
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }

    #output {
/*	border: 0px; */
	height: 99%;
    }
}

@page
{
    size: auto;
    margin: 0mm;
}